@import '/styles/config/config.scss';

.section:nth-child(5) {
  text-align: center;

  .section__inner {
    background-attachment: fixed;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255, 0.5)), to(rgba(255,255,255, 0.5))),url('./assets/images/cleanse.jpg');
		background-image: -webkit-linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)),url('./assets/images/cleanse.jpg');
		background-image: -o-linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)),url('./assets/images/cleanse.jpg');
    background-image: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)),url('./assets/images/cleanse.jpg');
    background-position: -41em 2em;
    background-repeat: no-repeat;
    background-size: 279%;
    min-height: 508px;
    @include breakpoint (phablet) {
      background-position: -39em 2em;
      background-size: 181%;
      min-height: 46.125em;
    }
    @include breakpoint (tablet) {
      background-image:url('./assets/images/cleanse.jpg');
      background-position: 0em 13em;
      background-size: contain;
      min-height: 38.125em;
    }
  }

  .section__header {
    padding-top: 80px;
    @include headerMajor;

    &:after {
      @include divider;
    }
    @include breakpoint (phablet) {
      padding-top: 165px;
    }
    @include breakpoint (tablet) {
      padding-top: 80px;
    }
  }

  .section__sub-header {
    @include headerSub;

    @include breakpoint (phablet) {}
    @include breakpoint (tablet) {}
  }

  .section__paragraph {
    margin: 0 auto;
    max-width: 90%;
    padding-top: 45px;
    @include paragraph;

    @include breakpoint (phablet) {}
    @include breakpoint (tablet) {max-width: 30%;}
  }

  .section__button {
    @include buttonClear
    margin-top: 100px;
    min-width: 233px;

    @include breakpoint (phablet) {}
    @include breakpoint (tablet) {}
  }
}
