/*grid layout for the primary semantic elements that make up the page*/
.global {
  display: -ms-grid;
  display: grid;
      -ms-grid-columns: 1;
      grid-template-columns: 1;
      -ms-grid-rows: 1auto 1auto 1auto;
      grid-template-rows: 1auto 1auto 1auto;
      grid-template-areas: "header" "main" "footer";
}

.header { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: header; }

.main { -ms-grid-row: 2; -ms-grid-column: 1; grid-area: main; }

.footer { -ms-grid-row: 3; -ms-grid-column: 1; grid-area: footer; }