@import '/styles/config/config.scss';
/*Styles for elements within We Ship Overnight Nationwide section */
.section:nth-child(1) {
	.hero {
		background-attachment: fixed;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255, 0.5)), to(rgba(255,255,255, 0.5))),url('./assets/images/hero-1.jpg');
		background-image: -webkit-linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)),url('./assets/images/hero-1.jpg');
		background-image: -o-linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)),url('./assets/images/hero-1.jpg');
		background-image: linear-gradient(rgba(255,255,255, 0.5), rgba(255,255,255, 0.5)),url('./assets/images/hero-1.jpg');
		background-position: -52vh 10vh;
		background-size: 213%;
		min-height: 52vh;
		padding-top: 6em;

		@include breakpoint (phablet) {
			min-height: 80vh;
		}

		@include breakpoint (tablet) {
			background-image: url('./assets/images/hero-1.jpg');
			background-position: 0 6.9375em;
			background-repeat: no-repeat;
			background-size: 100%;
			min-height: 100vh;
			position: relative;
		}
	}

	.hero__inner {
		@include breakpoint (phablet) {
			padding-top: 13em;
		}
	}

	.hero__header--major {
		@include breakpoint (tablet) {
			font-size: 3.125em;
			max-width: 50%;
		}
	}

	.hero__paragraph {
		max-width: 100%;
		padding-top: 3.75em;

		@include breakpoint (tablet) {
			max-width: 30%;
		}
	}

	.hero__button {
		@include buttonSolid;
		margin-top: 2.25em;
		width: 10.8125em;
	}
}
/* End styles for elements within We Ship Overnight Nationwide section */